@media screen and (max-width: 599px) {
  .card-container{
    width: 100%;
    height: calc((63.59/100)*34.6rem);
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .card-container{
    width: 100%;
    height: calc((63.59/100)*34.6rem);
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .card-container{
    width: 100%;
    height: calc((63.59/100)*34.6rem);
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .card-container{
    width: 100%;
    height: calc((63.59/100)*39.6rem);
  }
}

@media screen and (min-width: 1920px) {
  .card-container{
    width: 100%;
    height: calc((63.59/100)*34.6rem);
  }
}
