<div class="card-pricing__container">
  <div class="card-pricing__title">
    <h3>Jogue agora!</h3>
  </div>
  <div class="card-pricing__value">
    <div class="card-pricing__text">
      <div class="card-pricing__value__console">
        <p>{{gameType}}</p>
      </div>
      <div class="card-pricing__value__money">
        <p class="game-price">{{gamePrice}}</p>
      </div>
    </div>
    <div class="botao">
      <p>Adicionar ao carrinho
      </p>
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="slide-info">
      <i class="fa-solid fa-arrow-left"></i>
       clique e mova para os lados
      <i class="fa-solid fa-arrow-right"></i>

    </div>
  </div>
</div>
