.home-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 95%;
  height: 100%;

  margin: auto;

  padding-top: 90px;

  background-color: #f7e8cc;
  overflow: hidden;
}

app-card{
  margin: 1rem;
}
