<div class="home-container">
  <app-card
    gameName="Pele!"
    gameType="Mega Drive"
    gamePrice="R$ 52,00"
    gameDescription="Jogue como o lendário Pelé e marque gols incríveis neste emocionante jogo de futebol para o Mega Drive."
></app-card>

<app-card
    gameName="Sonic The Hedgehog 2"
    gameType="Mega Drive"
    gamePrice="R$ 50,00"
    gameDescription="Acelere com Sonic e Tails nesta sequência do clássico, coletando anéis e derrotando o terrível Dr. Robotnik."
></app-card>

<app-card
    gameName="Streets Of Rage 2"
    gameType="Mega Drive"
    gamePrice="R$ 45,00"
    gameDescription="Parta para as ruas e enfrente gangues perigosas neste jogo de luta clássico, lutando pela justiça e vingança."
></app-card>

<app-card
    gameName="Sonic The Hedgehog 1"
    gameType="Mega Drive"
    gamePrice="R$ 40,00"
    gameDescription="Aventura-se no mundo de Green Hill Zone com Sonic, coletando anéis e enfrentando inimigos em sua primeira aventura."
></app-card>

<app-card
    gameName="Mortal Kombat 2"
    gameType="Mega Drive"
    gamePrice="R$ 55,00"
    gameDescription="Prepare-se para lutas brutais e fatalities chocantes neste icônico jogo de luta da série Mortal Kombat."
></app-card>

<app-card
    gameName="Sonic The Hedgehog 3"
    gameType="Mega Drive"
    gamePrice="R$ 48,00"
    gameDescription="Junte-se a Sonic e Tails em mais uma aventura emocionante, enfrentando novos desafios e inimigos formidáveis."
></app-card>

<app-card
    gameName="Golden Axe 1"
    gameType="Mega Drive"
    gamePrice="R$ 42,00"
    gameDescription="Embarque em uma jornada medieval, lutando contra monstros e magia para salvar a terra de Yuria no clássico Golden Axe."
></app-card>

<app-card
    gameName="Castlevania - Bloodlines"
    gameType="Mega Drive"
    gamePrice="R$ 60,00"
    gameDescription="Enfrente as forças das trevas como um caçador de vampiros em Castlevania: Bloodlines, uma aventura cheia de ação."
></app-card>

<app-card
    gameName="Shining Force II"
    gameType="Mega Drive"
    gamePrice="R$ 58,00"
    gameDescription="Comande um grupo de heróis em uma épica jornada de estratégia e batalhas táticas no mundo de Shining Force II."
></app-card>

<app-card
    gameName="Streets Of Rage 3"
    gameType="Mega Drive"
    gamePrice="R$ 47,00"
    gameDescription="Prepare-se para ação intensa nas ruas, enfrentando novos inimigos e desafios em Streets Of Rage 3."
></app-card>

</div>
