<div class="menu-container">
  <div class="menu-logo">
    <p>GameStore <i class="fa-brands fa-shopify"></i></p>
  </div>
  <div class="menu-itens">
    <ul>
      <li>
        <a href="#">Jogos </a>
        <i class="fa-solid fa-angle-down"></i>
      </li>
      <li>
        <a href="#">Contato</a>
        <i class="fa-solid fa-angle-down"></i>
      </li>
      <li>
        <a href="#">Sobre </a>
        <i class="fa-solid fa-angle-down"></i>
      </li>
      <li class="carrinho">
        <a href="#">Carrinho </a>
        <i class="fa-solid fa-cart-shopping"></i>
      </li>
    </ul>

  </div>
</div>
